*, *::before, *::after {
    box-sizing: border-box;
}

.link {
    text-decoration: none;
}

.alert-message {
    color: red;
}

.navigation-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fc6a91;
    padding: 0 10px;
}

.navigation-wrapper .page-title {
    text-decoration: none;
    color: black;
    font-weight: 700;

}

.navigation-wrapper .navigation {
    display: flex;
    align-items: center;
}

.navigation .menu-list {
    display: flex;
    padding-left: 0;
    margin: 0;
}

.menu-list .menu-item {
    list-style-type: none;
    padding: 10px 15px;
}

.menu-item .menu-link {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.active {
    background-color: #eb3464;
}

.navigation #search-form .search-form-submit {
    border: 1px solid black;
    border-radius: 30px;
    padding: 5px 10px;
    background-color: white;
    color: black;
    font-weight: 600;
}

#search-page-form {
    display: flex;
    

}

.users-list {
    padding: 0;
}

.user-item {
    list-style-type: none;
}

.user {
    color: black;
}

.posts-item,
.album-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.post-title,
.albums-title {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.comments,
.photo-number {
    font-weight: 500;
}

.author {
    text-decoration: none;
    color: black;
    padding: 10px 0;
}
